:root {
  font-family: "Century Gothic", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  width: 100vw;
}

pre {
  font-family: "Century Gothic", sans-serif;
}

body {
  font-family: "Century Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  padding-top: 20px;
}

/* Apply Bomboniere to All Headers */
h1, h2 {
  font-family: "bomboniere", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h3, h4, h5, h6 {
  font-family: "Century Gothic", sans-serif;
  font-weight: 400;
  font-style: italic;
}

a {
  font-weight: 500;
  color: #009640;
  text-decoration: inherit;
}

a:hover {
  color: #0b3a1f;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #0b3a1f;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

nav ul {
  list-style: none;
  font-size: 1.2em;
  padding: 0;
  margin: 0;
}

/* Additional Color Adjustments for Light Mode */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #0b3a1f;
  }
  button {
    background-color: #f9f9f9;
  }
}

.navbartext {
  color: #f7f7f7;
  font-size: 1.6em;
  font-weight: 750;
  font-family: "Century Gothic", sans-serif;
}