@import url('https://use.typekit.net/wzj3jao.css');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #f0f1e5; /* Replace this with any color you prefer */
  margin: 0; /* Optional: removes default body margin for a flush background */
  color: #333; /* I made this the default text color */
}

.logo {
  height: 10em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo-container {
  width: 125px; /* Set a fixed width for the logo area */
  height: 75px; /* Set a fixed height for the logo area */
  display: flex;
  align-items: center; /* Center the image vertically */
  justify-content: center; /* Center the image horizontally */
  overflow: hidden; /* Prevent overflow if logos are slightly larger */
}

.logo:hover {
  filter: drop-shadow(0 0 2em #fbb03b);
  content: url("");
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #fbb03b);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  font-family: "century-gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.top-nav {
  width: 100%;
  background-color: #009640;
  padding: 0px 10px; /* Adjust if needed */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box; /* Ensures padding doesn’t affect total width */
  position: fixed; /* Makes the navbar stay at the top on scroll */
  top: 0;
  left: 0;
  z-index: 1000; /* Keeps navbar on top */
}

.top-nav .logo{
  width: 150px; /* Adjust this value as needed */
  height: auto; /* Keeps the aspect ratio */
}

.top-nav .nav-links {
  font-family: "century-gothic", sans-serif;
  list-style-type: none;
  display: flex;
  gap: 15px;
}

.top-nav .nav-links li a {
  font-family: "century-gothic", sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 0.75em;
}

.top-nav .nav-links li a:hover {
  color: #fbb03b; /* A highlight color */
}