@import url('https://use.typekit.net/wzj3jao.css');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #ffe4c4; /* Replace this with any color you prefer */
  margin: 0;
  color: #333;
  font-family: "century-gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.logo {
  height: 10em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo-container {
  width: 160px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #fbb03b);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #fbb03b);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Navbar Styles */
.top-nav {
  width: 100%;
  background-color: #009640;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.top-nav .logo-container {
  flex: 0 0 auto;
}

.top-nav .logo {
  width: 125px;
  height: auto;
}

.nav-links {
  font-family: "century-gothic", sans-serif;
  list-style-type: none;
  display: flex;
  gap: 40px;
  margin: 0;
  transition: transform 0.3s ease-in-out;
}

.nav-links.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 10px;
  background-color: #fbb03b;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.nav-links.open li {
  margin: 0.5px 0;
}

.nav-links li {
  margin: 5px 10px;
}

.nav-links a {
  text-decoration: none;
  font-size: 0.9em;
  color: #fff;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #0b3a1f;
}

/* Hamburger Menu Icon */
.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.menu-icon .bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu-icon .rotate-bar1 {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-icon .rotate-bar2 {
  transform: rotate(-45deg) translate(5px, -5px);
}

.menu-icon .hide-bar {
  opacity: 0;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .nav-links {
    display: none; /* Hide links by default on smaller screens */
  }

  .menu-icon {
    display: flex;
  }

  .nav-links.open {
    display: flex; /* Show when menu is toggled */
  }
}
