/* Grid layout */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive columns */
    gap: 10px; /* Space between images */
}

.grid-item {
    overflow: hidden;
    border: 1px solid #ccc; /* Optional border */
    border-radius: 5px; /* Optional rounded corners */
    padding: 5px; /* Optional padding */
    cursor: pointer; /* Indicate clickable item */
}

.grid-item img {
    width: 100%; /* Makes the image responsive */
    height: auto; /* Maintains aspect ratio */
    display: block; /* Removes bottom spacing */
}

/* Modal styles */
.modal {
    display: flex; /* Flexbox for centering the image */
    justify-content: center;
    align-items: center;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}

/* .modal-content {
    margin: auto;
    display: block;
    max-width: 80%;  Restrict modal size 
    height: auto;  /* Maintain aspect ratio 
    border-radius: 10px;
} */

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.modal-content-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;  /* Push content to the right */
    padding-left: 10px;           /* Add padding if you want more space */
    padding-top: 75px;
}

.modal-content {
    max-width: 80%;
    height: 615px;  /* Adjust this value as needed */
}
  
.caption {
    text-align: left;         /* Align text within caption box */
    color: white;
    padding: 10px;
    font-size: 18px;
    width: 30%;               /* Allocate remaining width for the caption */
    background: rgba(0, 0, 0, 0.7);  /* Optional: semi-transparent background */
    box-sizing: border-box;   /* Include padding in width calculation */
  }